.home {
   background: #f0e9ff;
   text-align: center;
   margin-left: 20%;
   margin-right: 20%;
}

.home p {
    margin-left: 20%;
    margin-right: 20%;
}

.home img {
    align-content: center;
}

